html {

  font-family: "Open Sans", sans-serif;
  color: #000;
  background-color: #fff;

}

.btn {
  color: #f2f2f2;
}

h1 {
  border-bottom: 1px solid #000;

}

@media only screen and (min-width: 60em) {

  legend {
    padding: 1rem;
  }

}
